.restaurant-card-div {
  padding: 5px;
  cursor: pointer;
}
.restaurant-card-img-div {
  width: 300px;
  height: 150px;
}
.btn-stars-price-for-two-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.price-for-two-text {
  font-size: 15px;
  margin-left: 50px;
}
.restaurant-name-heading {
  font-weight: bold;
}
