.restaurant-info-section {
    background-color: #d1d9d9;
    width: 100%;
}
.restaurant-info-image {
    height: 150px;
    width: 150px;
}

.restaurant-info-image-div {
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}
.restaurant-info-customer-rating-cost-div {
}