.restaurant-info-section {
  background-color: #d1d9d9;
  width: 100%;
}
.restaurant-info-image {
  height: 210px;
  width: 280px;
  margin-left: 10px;
  margin-top: 10px;
}

.restaurant-info-image-div {
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
}
.restaurant-info-customer-rating-cost-div {
}
