.header-grid-div {
width: 100%;
background-color: #263238;
}
.header-search_field-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
}
.logo-icon-div {
    margin-top: 10px;
    margin-left: 20px;
    color: white;
}
.header-login-btn-div {
    margin-top: 5px;
    margin-bottom: 5px;
}
.account-options-container{
    position: relative;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    width: 120px;
    background-color: white;
    border-style: solid;
    border-color: grey;
    border-width: 2px;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0;
    padding: 10px;
}
.logged-in-user-first-name-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
}
.header-outer-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.loggedInUserName-para{
    margin-left: 0px;
}