.myCartCard-div{
    width: 400px;
    margin-left: 20px;
    margin-right: 20px;
}
.myCartCard2-div{
    width: 370px;
    margin-left: 10px;
    margin-right: 0;
    margin-top: 40px;
}
.myCart-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px;
}
.myCart-body{
    margin: 20px; 
}
.myCart-totalPrice{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bolder;
}
Button {
    width: 90%;
}
.myCart-footer{
    margin-left: 30px;
    margin-bottom: 25px;
}
.space-between-total-price {
    width: 140px;
}
.SummaryHeading{
    font-weight: bolder;
    font-size: 20px;
}
.RestaurantNameHeading{
    font-size: 15px;
    color: grey;
    margin-top: 30px;
}
.space-between-SUBTOTAL-price{
    width: 160px;
}