.myCartCard-div{
    width: 400px;
    margin-left: 20px;
}
.myCart-header{
    display: flex;
    flex-direction: row;
    margin: 20px;
}
.myCart-totalPrice{
    display: flex;
    flex-direction: row;
}
Button {
    width: 70%;
}